<!DOCTYPE html>
<html>
	{{> htmlhead}}
	<body>
		<!--
		{{> socialanalytics}}
		 -->
		{{> header}}
		{{> main}}
		{{> footer}}

		<script src="/assets/scripts/scripts.min.js"></script>
	</body>
</html>
